* {
    margin: 0;
    padding: 0;
        
}
body {
    height: 100%;
    .head {
        width: 100%;
        height: 80px;
        // visibility: hidden;
        .menu {

            display: block;
            width: 100%;
            background-color:#D0E5F0;
            background-image: url("../../Design/Assets/png/Merged\ bar-39.png");

            position: fixed;
            
            
              .logo {
                  float: left;
                  margin-left: 5%;
                  
              }
              ul {
                  float: right;
                  margin-right: 5%;
                   .info--color {
                       color:#1A519E;
                    //    display: block;
                   }
                  .info--block1{
                       border: blue 1px solid;
                       border-radius: 10px;
                    
                        img {
                            position: relative;
                            top :3px
                        
                    }
                }
                  li {
                      list-style-type: none;
                      margin-top: 10%;
                      display: inline-block;
                      padding: 5px 20px;
                      font-weight: bold;
                        a {
                            text-decoration: none;
                            cursor: pointer;
                        }
                     

                  }
                  
              }
        }
        

    }
    .steppe {
        padding: 5% 10% 5% 10%;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;
        
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #1078AD;
            position: relative;
            font-family:' Old Standard TT', serif;
          
    
    
            &::before {
                content: '';
                height: 20px;
                width: 20px;
                background-color: #1078AD;
                border-radius: 50%;
                position: absolute;
                top: -25px;
                
                }
    
        
        }
    
        
    
        .actuel {
    
            &::before {
                content: '';
                height: 45px;
                width: 45px;
                background-color: #88b7d3;
                border-radius: 50%;
                position: absolute;
                top: -43px;
                z-index: 100;
        
        
            }
    
            &::after {
                content: '';
                height: 22px;
                width: 22px;
                background-color: #F4CF1B;
                border-radius: 50%;
                position: absolute;
                top: -30px;
                z-index: 1000;
            }
        
        }
        
    
        
    }
    
    
      .container{
        text-align: center;
        background-color:#e9ecef;
        margin: auto;
        width: 70%;
        padding: 10px;
        font-weight: 200;
        border-radius: 5px;
        height: 50vh;
        
    
        &__titre{
            color: #1078AD;
            margin-top: 5%;
            text-align: center;
            font-family: 'Old Standard TT', serif;
        }
        &__text2 ,&__text1 {
            font-size: 20px;
            font-family: 'Old Standard TT', serif;
        }
    
        &__line{
            border: 1px solid #F4CF1B;
            width: 30%;
            margin: 0 auto;
            text-align: center;
        }
    
    }
    /*-------------------------------------------------------*/
    
    
    .answer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    
    
    
        input[type="number"] {
            font-size: 16px;
            border: 1px solid #1078AD;
            width: 55%;
            padding: 10px;
        }
    
        .input-span {
            font-size: 16px;
            border: 1px solid #1078AD;
            border-left: none;
            padding: 4px 10px 5px;
            color: rgb(85, 85, 85);
            background-color: #edf6fa;
        }
    
    
    
    
    
        input[type="radio"] {
            
           display: none;
        }
    
        input[type="radio"]:checked~label {
    
            background-color: #1078AD;
            color: rgb(27, 244, 27);
        }
    
    
        
        label {
            height: 80px;
            width: 120px;
            color: #1078AD;
            border-radius: 4px;
            border: 4px solid #1078AD;
            font-size: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 9px 0px 0;
            transition: .5s ease;
            margin-right: 50px;
    
    
            span {
                font-size: 22px;
                position: relative;
                bottom: 5px;
            }
    
    
        }
    }
    
    .start{
    
        background-color: #D0E5F0;
         cursor: pointer;   
        border-radius: 5px;
        border:2px solid rgb(10, 124, 180); 
        width: 20%;
        height: 50px;
        font-size: 25px;
        color: white;
        display: block;
        margin : auto;
        margin-top: 1.5%;
        transition: background-color 2s ease-out;
        outline: none;
        margin-bottom: 5%;
    }
    
    .start:hover{
    
        background-color: rgba(16, 121, 173, 0.582) ;
    }
    
    /*---------------------------------------------------------------------*/
    
    .corona{
    
        text-align: center;
        border: 1px solid  #1078AD ;
        margin: auto;
        width: 70%;
        font-weight: 200;
        border-radius: 5px;
        margin-bottom: 5%;
        
    
        &__question{
    
            color: #787878;
            font-size: 32px;
            margin-top: 120px;
            margin-bottom: 50px;
        }
    
    }
    
    
    .btn{
    
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 20px;
        margin-top: 100px;
        margin-bottom: 30px;
        cursor: pointer;
    
    
        button{
            background-color: #D0E5F0;
            border-radius: 5px;
            border:2px solid #1078AD; 
            padding: 10px 20px  ;
            font-size: 15px;
            color:  white;
            float:right;
            outline: none; 
            cursor: pointer;
 
          
        
    
            &:hover{
                background-color: rgb(197, 194, 25);
                border:2px solid rgb(224, 221, 14);
                color: black;
                font-size: 14px;

            }
    
            &:disabled{
    
                cursor: not-allowed;
                opacity: 0.65;
               
                &:hover{
                    background-color: #D0E5F0;
    
                }
            }
        }
    
       
      
    }
    
    
    /*-----------------------------------------progress_bare--------------------------------*/
    
    
    
    .progress {
        border-bottom: 1px solid rgb(190, 190, 190);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 7px 0;
        
    
        h3 {
            font-weight: bolder;
            margin-right: 15px;
            margin-top: 0;
            margin-bottom: 0;
        }
    
        &__bar {
            width: 90%;
            height: 10px;
            border-radius: 20px;
            background-color: #e6f1f7;
        
    
    
            .bar {
                height: 100%;
                width:calc(1*calc(100%/22));
                background-color: #1078AD;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                transition: all .4s ease;
            }
        }
    }
    
    
    
    
    .hide{
       display: none;
    }
    
    
    .visibility{
      visibility: hidden;
    }


    .section5 {
        // visibility: hidden;
        .photo {
            display: block;
            margin-left: auto;
            margin-right: auto;     }
            .containr {
                display: grid;
                grid-column: 25% 25% 50%;
                grid-row: 100%;
                .item1 {
                  
                    grid-row: 1/1;
                    grid-column:1/2;
                    ul {
                        .item1--block1{
                            // 
                            border: blue 1px solid;
                            padding-top: 10px;
                            width: 100px;
                            text-align: center;
                            margin-left: 140px;
                            padding: 4px 8px;
                            border-radius: 10px;
                            img {
                                position: relative;
                                top :3px
                            }
                            
                        }
                        
                    
                        li {
                            list-style-type: none;
                            text-align: center;
                            padding-top: 20px;
                            font-size: 20px;
                            font-weight: 700;
                            display: block;
                        }
                    }
                }
                .item2 {
                   

                    grid-row: 1/1;
                    grid-column:2/3 ;
                    ul {
                        .item2--block1 {
                            color:#1078AD;
                        }
                        .item2--block2 {
                            color:#369D53;
                        }
                        li {
                            list-style-type: none;
                            text-align: center;
                            padding-top: 10px;
                            font-weight: 700;
                            font-size: 20px;
                           

                        }
                    }
                }
                .item3 {
                    
                    grid-row: 1/1;
                    grid-column:3/4 ;
                    // width: 50%;
                    p {
                        padding-top: 20px;
                        color: #7F7F7F;
                        line-height: 30px;
                        font-weight: bold;
                       
                    }

                     
                }
            
            }
            
    }
    .footer1 {
            img {
            width: 100%;
            height: 50px

            
        }
    }
    
   
    
    


}